body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.nav-wrapper img {
	height: 50px;
	width: 225px;
	padding: 10px 0 0 20px;
}

.page-footer .footer-copyright {
	font-weight: 600;
	text-align: center;
}

.strength {
	font-weight: 600;
}

.card-panel .nav-content {
	margin: auto;
}

.nav-content.tabs.tab {
	align-items: center;
}

img.product {
	height: 150px;
	max-width: 100%;
}

.block {
	align-items: center;
	text-align: center;
}

span.product-desc, p.valign-wrapper {
	text-align: left;
}

span.price {
	font-size: 16pt;
	font-weight: 600;
}

span.soc-logo {
	margin-right: 5px;
	font-size: 16pt;
}

div.title-card {
	text-align: center;
}

.iconic {
	font-size: 18pt;
	margin-right: 30px;
}