.nav-wrapper img {
	height: 50px;
	width: 225px;
	padding: 10px 0 0 20px;
}

.page-footer .footer-copyright {
	font-weight: 600;
	text-align: center;
}

.strength {
	font-weight: 600;
}

.card-panel .nav-content {
	margin: auto;
}

.nav-content {
	align-items: center;
}